<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
	    <div class="slider-item" style="background-image: url(/images/bgr_4.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          	<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
	            	<div class="col-md-12 ftco-animate text-center">
	             		<h1 class="mb-2">Group: HCMUS-20B05</h1>
				   		<h2 class="mb-4 font-italic">Member: Võ Thị Ngọc Duyên <br> MSSV: 1712398</h2>
	            	</div>
	        	</div>
	    	</div>
		</div>
	</div>
</section>
<br>
<section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/Bảo_Phạm.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0">Member: Phạm Văn Bảo - 1712287</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/Duy_Tran.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0">Member: Trần Bảo Duy - 1712391</h2>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-md-4">
				<div class="category-wrap-2 ftco-animate img d-flex align-items-end">
					<div class="text text-center">
						<h2>Class: HCMUS-EC (CQ2017/12)</h2>
						<p>Group: HCMUS-20B05</p>
						<p>Members: 4</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/Duyen_Ngoc.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0">Member: Võ Thị Ngọc Duyên - 1712398</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/Tri_Nguyen.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0">Member: Nguyễn Cao Trí - 1712831</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>				
</section>    